.add-group__form > button {
  display: none;
}

.add-group {
  height: 100vh ;
  padding: 10px;
  margin-left: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}
