.invite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  margin: 20px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: white;
}
