.top__movies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.top__movies > button {
  height: 40px;
}

.topmovies__movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 20px;
}
